{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
  <div class="intro">
    <h1>{{ partial "headline.html" . }}</h1>
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
  </div>
  {{ .Content }}
  {{ range.Pages }}
    <div class="summary">
        <h2 class="summary-title font-bold"><a href="{{ .RelPermalink }}">
            {{ partial "headline.html" . }}
        </h2>
      <p class="summary-description">{{ .Params.description }}</p>
    </div>
  {{ end }}
{{ end }}
